* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #222222;
  padding: 0;
  margin: 0;
}

h1, p, ul {
  margin: 0;
}

:root {
  --headline: 34px;
  --headline2: 24px;
  --title: 18px;
  --caption: 14px;
  --helper: 11px;

  --primary: #DB3022;
  --secondary: #9B9B9B;
  --black: #222222;
  --bg: #fff;
  --success: #2AA952;
  --error: #F01F0E;
}

.headline {
  font-size: var(--headline);
  font-weight: bold;
}

.headline2 {
  font-size: var(--headline2);
  font-weight: bold;
}

.title {
  font-size: var(--title);
  font-weight: 500;
}

.subheads {
  font-size: 1rem;
  font-weight: 500;
}

.caption {
  font-size: 14px;
  font-weight: 500;
}

.light {
  font-size: 14px;
  font-weight: 300;
}

.helper {
  font-size: 11px;
  color: #9B9B9B;
}