.banner {
  height: 60vh;
  display: grid;
  align-content: end;
  padding: 32px 15px;
  background:
      linear-gradient(
          to top,
          rgba(0, 0, 0, 0.73), 
          rgba(0, 0, 0, 0) 60%
      ),
      url("../../assets/images/banner_bg.png") center / cover;
}

.bannerTitle {
  font-size: 48px;
  font-weight: 900;
  color: var(--bg);
  margin-bottom: 18px;
}

.bannerBtn {
  width: 160px;
}